<table>
  <tr>
    <th>Total users count</th>
    <th>Total categories count</th>
    <th>Total products count</th>
    <th>Bestseller</th>
    <th>Products sold</th>
  </tr>
  <tr>
    <td><%= @results[:total_users] %></td>
    <td><%= @results[:total_categories] %></td>
    <td><%= @results[:total_products] %></td>
    <td><%= @results[:bestseller] %></td>
    <td><%= @results[:sold_products_amount] %></td>
  </tr>
</table>
