<table>
  <tr>
    <th>Total users count</th>
    <th>Total categories count</th>
    <th>Total products count</th>
    <th>Bestseller</th>
    <th>Products sold</th>
  </tr>
  <tr>
    <td><%= @users %></td>
    <td><%= @categories %></td>
    <td><%= @products %></td>
    <td><%= @bestseller.name %></td>
    <td><%= @sold_products_amount %></td>
  </tr>
</table>
