<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :description_cont %>
  <%= f.search_field :description_cont %>
  <%= f.collection_select :name_eq, Category.all, :name, :name, include_blank: 'All' %>

  <%= f.submit %>
<% end %>
<% @categories.each do |category| %>
  <div>
    <h2><%= link_to "#{category.name}", category %></h2>
    <h2><%= category.description %></h2>

    <p><%= button_to 'Delete', category_path(category), method: :delete %></p>
  </div>
<% end %>
<%= paginate @categories %>
