<%= search_form_for @q do |f| %>

  <%= f.label :purchase_date_gteq, 'Date from' %>
  <%= f.text_field :purchase_date_gteq %>

  <%= f.label :purchase_date_lteq, 'Date to' %>
  <%= f.text_field :purchase_date_lteq %>

  <%= f.label :purchase_products_product_id_eq, 'Products' %>
  <%= f.collection_select :purchase_products_product_id_eq, Product.order(:name), :id, :name, include_blank: 'All' %>

  <%= f.label :aasm_state_eq, 'Purchase state' %>
  <%= f.select :aasm_state_eq, ['pending', 'bought'], include_blank: 'All' %>

  <%= f.label :user_email_eq, 'Users' %>
  <%= f.collection_select :user_email_eq, User.order(:email), :email, :email, include_blank: 'All' %>

  <%= f.submit %>
<% end %>

<table>
  <tr>
    <th>Purchase id</th>
    <th>Purchase date</th>
    <th>Purchase status</th>
    <th>User</th>
    <th>Products</th>
    <th>Amount</th>
  </tr>
  <% @purchases.decorate.each do |purchase| %>
    <tr>
      <td><%= purchase.id %></td>
      <td><%= purchase.purchase_date %></td>
      <td><%= purchase.aasm_state %></td>
      <td><%= purchase.user_email %></td>
      <td>
        <% purchase.purchase_products.decorate.each do |purchase_product| %>
          <li>
            <%= purchase_product.product %>
          </li>
        <% end %>
      </td>
      <td>
        <% purchase.purchase_products.each do |purchase_product| %>
          <li>
            <%= purchase_product.product_amount %>
          </li>
        <% end %>
      </td>
  <% end %>
  </tr>
</table>
<%= paginate @purchases %>
<p>
  <%= button_to 'Export xls', export_purchases_purchases_path(params: { :q => @query_params }, format: 'xlsx'), method: :post %>
</p>
