<p>Hi <%= current_user.first_name %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Amount available</th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.stock_amount %></td>
      <% if current_user.is_a?(User) %>
        <td>
          <% if product.archived_at == nil %>
            <%= form_with(model: @purchase, url: :create_purchase_products) do |form| %>
              <%= hidden_field_tag 'product_id', "#{product.id}" %>
              <%= form.select :product_amount, options_for_select(1..product.stock_amount) %>
              <% if product.stock_amount != 0 %>
                <%= form.submit 'Add to card' %>
              <% end %>
            <% end %>
          <% else %>
            product unavailable
          <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
